body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  /* bottom: 0; */
  /* rtl:remove */
  left: 0;
  

  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-image: url(cat-image1.png);
  background-position: center bottom 200px;
  background-size: contain;
  background-repeat: no-repeat;
}




@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* .sidebar .nav-link {
  font-weight: 500;
  color: #333;
} */

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
/* 
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
} */

.icon {
  width: 35px;
  height: 35px;
}
.sun-icon {
  width: 100px;
  height: 100px;

}


.nav-link:hover {
  color: darkorange !important;
}

#sidebarMenu {
  background-color: rgb(211, 240, 216) !important;
  width: 200px !important;
  height: 1000px !important;
}

/* .container-fluid{
  width: calc(100vw - 200px) !important;
  padding: 0 !important;
  margin: 0 !important;
} */


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

header {
  /* background-color: #333; */
  color: #ec9c08;
  font-size: 80px;
  font-family: fantasy, Impact, sans-serif; /* フォントを追加 */
  letter-spacing: 0.1em; /* 文字間隔を取る */
  word-spacing: 5.0em; /* 単語間のスペースを0.2emに設定 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#slideshow img {
  display: none;
}
#slideshow img.show {
  display: block;
}

.all {
  display: flex;
}
#slideshow {
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 500px;
}